.WolfHeader
{
    background-image: url('../images/wolfrising_title.png');
    background-size: 640px;
    background-repeat: no-repeat;
    background-position: center;
    padding-bottom: 200px;
}

body
{
		background-image: url('../images/wolfrising_logo2.png');
		background-size: 100%;
    background-position: top;
    background-attachment: fixed;
}

.MenuOption
{
    padding: 8px;
    opacity: 0.8;
    transition: transform .24s;
    transform: scale(1.2);
}

.MenuOption:hover
{
    transform: scale(1.48);
    opacity: 0.95;
}

.story
{
    color: white;
    padding-left: 25%;
    padding-right: 25%;
    padding-top: 24px;
    text-align: center;
    font-size: 20px;
    margin: auto;
}

.storyBorder
{
    background: rgba(24, 24, 24, 0.9);
    padding-bottom: 24px;
    margin: auto;
    text-align: center;
    width: 65%;
}

.backButton
{
    transform: scale(1.2);
    padding-bottom: 24px;
    padding-top: 24px;
    padding-left: 2px;
    padding-right: 2px;
    margin: auto;
    width: 321px;
    transition: transform .24s;
}

.backButton:hover
{
    transform: scale(1.33);
    transition: transform .24s;
}

.creditsBox
{
  margin: auto;
  padding-top: 16px;
  padding-bottom: 16px;
  background: rgba(24, 24, 24, 0.9);
  background-attachment: fixed;
  text-align: center;
  color: red;
  width: 50%;
}

h1
{
  color: white;
  font-size: 32px;
}

h3
{
  color: #808080;
  font-size: 32px;
}

p1
{
  color: #AA0000;
  font-size: 24px;
}

p2
{
  color: #808080;
  font-size: 21px;
}

#bj1
{
  width: 75%;
}
